<div class="row">
  <div class="main">
    <header class="hero-spacer">
      <h1>Recipe Manager!</h1>
      <%= image_tag("original/pot.png",size: "200x200", alt: "logo") %>
      <p>A simple recipe management app!</p>
      <p><%= link_to 'Add New Recipe', new_recipe_path, class: "btn btn-danger btn-lg" %></p>
    </header>
    <div class="row">
      <div class="col-lg-12">
        <h3>Latest Recipes</h3>
      </div>
    </div>
    <div class="row text-center">
      <% @recent_recipes.each do |recipe| %>
      <div class="col-md-3 col-sm-6 hero-feature recipe-card"  data-id="<%= recipe.id %>">
        <div class="thumbnail">
          <%= image_tag recipe.recipe_image.url(:medium), class: "img-responsive" %>
          <div class="caption recipe-details">
            <h3><%= recipe.name %></h3>
            <div class="no-display" id="recipe-info-<%= recipe.id %>">
                <p><%= truncate(recipe.description, length:35) %>.</p>
                <p>
                  <%= link_to 'Instructions', recipe_path(recipe), class: "btn btn-danger"%>
                </p>
                <p>
                  <span class="commentsNum_<%= recipe.id%>"></span>
                </p>
            </div>
        </div>
      </div>
      </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3>All Recipes</h3>
      </div>
    </div>
    <div class="row text-center">
      <% @recipes.each do |recipe| %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <%= image_tag recipe.recipe_image.url(:medium), class: "img-responsive" %>
          <div class="caption">
            <h3><%= recipe.name %></h3>

            <p><%= truncate(recipe.description, length:35) %>.</p>
            <p>
              <%= link_to 'Instructions', recipe_path(recipe), class: "btn btn-danger recipe-details"%>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
